@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Outfit, Poppins, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

@font-face {
  font-family: "Outfit";
  src: url("../src/fonts/Outfit-Medium.ttf");
}
